{% extends "auctions/layout.html" %}

{% block body %}
<h2>View Listings</h2>

{% if prodinfo != None %}
    <div class="products">
        <img class="product_img" src="{{prodinfo.imageUrl}}" alt="Product image">
        <div class="prod_info">
            <b>{{prodinfo.title}}</b>
            Start Price <i>{{prodinfo.startPrice}}</i>
            Current Price<i>{{prodinfo.currentPrice}}</i>
            Description <br>
            <i>{{prodinfo.description}}</i>
        </div>
    </div>
     {% if creator == True %}
     <a href="">Close Listing</a>
     {% elif watcher == True %}
    <a href="">Remove From Watchlist</a>
     bid for a rate
     {% elif buyer == True %}
     congrats you won the auctions
     {% else %}
     add to watchlist
     bid for a rate
     {% endif %}
     <!--comment input-->
    <h5>Post your comment below</h5>
    <form action="{% url 'addcomment' prodinfo.id %}" method="post">
        {% csrf_token %}
        {{commentform}}
        <input type="submit" value="Post Comment">
    </form>

    {% for comment in comments%}
    <div class="products">
        {{comment.user}}
        {{comment.date}}
        {{comment.content}}
    </div>
    {% empty %}
    No comments so far!
    {% endfor %}

    {% endif %}
{% endblock %}